version: "3.9"

services:
  web:
    build: .
    container_name: flask-web
    ports:
      - "80:80"
    environment:
      FLASK_ENV: development
      MONGO_URI: mongodb://mongodb:27017/swfavorites
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6
    container_name: mongo-db
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: