services:
  webapp:
    build: .
    image: swapi_webapp:mysql
    container_name: webapp
    ports:
      - "80:80"
    environment:
      FLASK_ENV: development
      DATABASE_URI: mysql+pymysql://swapi_user:swapi_pass@mysql-db:3306/swfavorites
    depends_on:
      mysql-db:
        condition: service_healthy

  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: swfavorites
      MYSQL_USER: swapi_user
      MYSQL_PASSWORD: swapi_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 15

volumes:
  mysql_data: